@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "EB Garamond", bold;
}

.logo {
  font-family: "Dancing Script", cursive;
  size: 60px;
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: #ffc0cb;
  padding: 20px 50px;
}

.logo a,
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}
nav a {
  color: white;
  text-decoration: none;
}

#navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 0;
  padding: 0;
}
#navbar ul li {
  float: none;
  flex-direction: row-reverse;
}
#navbar ul li a {
  display: inline-block;
  padding: 10px;
  text-align: center;
}
#navbar ul li a:hover {
  background-color: #fae5aa;
  color: #212121;
  border-radius: 30%;
  border: 0.5px solid black;
  position: relative;
  top: -5px;
}
