@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rouge+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "EB Garamond", bold;
  line-height: 1.5em;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 20px;
}

.py-1 {
  padding: 10px 0;
}
.py-2 {
  padding: 20px 0;
}
.py-3 {
  padding: 30px 0;
}
.px-1 {
  padding: 0 10px;
}
.px-2 {
  padding: 0 20px;
}

.text-primary {
  color: #c53950;
}

header {
  font-family: "EB Garamond", bold;
}

.logo {
  font-family: "Dancing Script", cursive;
  size: 60px;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px;
}

.intro {
  font-size: 19px;
  text-align: center;
  line-height: 1.7em;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.logo a,
.menu {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu li {
  list-style: none;
  display: inline;
  margin-left: 20px;
}
#navbar {
  background-color: #ffc0cb;
  color: #eeeeee;
  overflow: hidden;
}

nav a {
  color: white;
  text-decoration: none;
}
#navbar h1 {
  float: left;
  padding-top: 20px;
}

#navbar ul {
  list-style: none;
  float: right;
  display: flex;
  gap: 10px;
}

#navbar ul li {
  float: right;
}

#navbar ul li a {
  display: inline-block;
  padding: 10px;
  text-align: center;
}

#navbar ul li a:hover {
  background-color: #fae5aa;
  color: #212121;
  border-radius: 30%;
  border: 0.5px solid black;
  position: relative;
  top: -5px;
}

#navbar .current {
  background-color: #fae5aa;
  color: #212121;
  border-radius: 30%;
  border: 0.5px solid black;
}

#showcase {
  background: url("https://img77.uenicdn.com/image/upload/v1551702233/category/shutterstock_1026952822.jpg")
    no-repeat center center/cover;
  height: 600px;
}

#showcase .showcase-content {
  color: #212121;
  text-align: center;
  padding-top: 200px;
}

#showcase .showcase-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

#home-info {
  height: 300px;
}

#home-info .info-img {
  float: right;
  width: 50%;
  background: url("https://www.laurasbeautytouch.com/cdn/shop/products/deez_grande.jpg?v=1627667193")
    no-repeat center center/cover;
  min-height: 100%;
}

#home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 30px 50px;
  overflow: hidden;
  font-size: 19px;
  background-color: #fae5aa;
  color: black;
}

.box {
  float: left;
  width: 33.3%;
  padding: 20px;
  text-align: center;
}

.box i {
  margin: 10px;
}

.clr {
  clear: both;
}

#main-footer {
  background-color: #ffc0cb;
  color: white;
  text-align: center;
  padding: 20px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
}

#contact-form textarea {
  height: 200px;
}

#contact-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
}
.bg-light {
  background-color: #fceec8;
}

.bg-pink {
  background-color: #fdf5d4;
  color: #eee;
}
.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #c53950;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #fae5aa;
}
#about-info .info-right {
  float: right;
  width: 50%;
  min-height: 100%;
}

#about-info .info-right img {
  display: block;
  width: 70%;
  margin: auto;
}
#about-info .info-left {
  width: 50%;
  float: left;
  min-height: 100%;
}
#reviews {
  height: 550px;
  width: 60%;
  margin: auto;
  background: url("../images/test-bg.jpg") no-repeat center center/cover;
  padding-top: 40px;
  margin-bottom: 40px;
}

#reviews .review {
  padding: 20px;
  margin-bottom: 40px;
  height: 160px;
  border-radius: 10px;
}

#reviews .review img {
  width: 200px;
  float: left;
  padding-right: 10px;
}

#reviews h2 {
  text-align: center;
  padding-bottom: 30px;
  color: #c53950;
  font-size: 2em;
}
